@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* RESET */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    box-sizing: border-box;
    height: auto;
}

input, textarea, button {
    font: inherit;
}

/* VARIABLES */
:root{
    /* FONTS */
    --FONT-FAMILY: 'Inter', sans-serif;
    --FONT-COLOR-1: #ffffff;
    --FONT-COLOR-2: #101111;



    /* COLORS */
    --BG-1: #101111;
    --BG-2: #ffffff;
    --SECONDARY-LINE: #565656;
    --SECONDARY-1: #638596;
    --SECONDARY-2: #c4ebff;


    /* PADDINGS, MARGINS, BORDERS */

}


html{
    background: var(--BG-2);
    color: var(--FONT-COLOR-1);
    /* padding: 10px 20px 20px; */
}

body{
    min-height: 100vh;
    background: var(--BG-2);
    color: var(--BG-2);
    /* padding: 10px 20px 20px; */
}

header, .hero, .section-one, .section-three{
    background: var(--BG-1);
}

footer{
    color: var(--FONT-COLOR-2);
}

hr{
    display: block;
    border: none;
    background: var(--SECONDARY-LINE);
    height: 1px;
    width: 90%;
    margin: 10px auto;
}

h1, h2, h3, p{
    font-family: var(--FONT-FAMILY)
}

.section-one, .section-two, .section-three{
    padding: 3px 10px 50px 10px;
}


.section-two{
    background: var(--BG-2);
    color: var(--FONT-COLOR-2);
    
}

.section-one{
    display: block;


    border: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}

.section-three{
    display: block;


    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.section-one-img{
    width: 70%;
}

button{
    /* border: none; */
    border-radius: 999px;
    padding: 10px;
    font-family: inherit;
}

.btn-one{
    background: var(--SECONDARY-1);
    color: var(--SECONDARY-2);
}

.btn-two{
    background: var(--BG-2);
    color: var(--FONT-COLOR-2)
}

.btn-three{
    background: var(--BG-1);
    border-color: var(--SECONDARY-LINE);
    color: var(--FONT-COLOR-1);
}