@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* RESET */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    box-sizing: border-box;
    height: auto;
}

input, textarea, button {
    font: inherit;
}

/* VARIABLES */
:root{
    /* FONTS */
    --FONT-FAMILY: 'Inter', sans-serif;
    --FONT-COLOR-1: #ffffff;
    --FONT-COLOR-2: #101111;



    /* COLORS */
    --BG-1: #101111;
    --BG-2: #ffffff;
    --SECONDARY-LINE: #565656;
    --SECONDARY-1: #638596;
    --SECONDARY-2: #c4ebff;


    /* PADDINGS, MARGINS, BORDERS */

}


html{
    background: var(--BG-1);
    color: var(--FONT-COLOR-1);
}

body{
    min-height: 100vh;

}

hr{
    display: block;
    border: none;
    background: var(--SECONDARY-LINE);
    height: 1px;
    width: 90%;
    margin: 10px auto;
}

h1, h2, h3, p{
    font-family: var(--FONT-FAMILY)
}

.section-two{
    background: var(--BG-2);
    color: var(--FONT-COLOR-2);
}

.section-one{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.section-three{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.section-one-img{
    width: 70%;
}